# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Dimensions.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Bibliothèques\Desktop\Unity\Jam Itch.io 20\GameJam-1\Dimensions\.idea\.idea.Dimensions\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
